{{ define "main" }}

<section class="section pt-0">
  <div class="container-fluid">
    <div class="row row-no-gutters">
      <div class="col-md-12">
        <ul class="list-inline social-icons">
          {{ range .Site.Params.Social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row row-no-gutters">
      <div class="col-md-12">
        <div class="post ">
          {{ with .Site.Params.homepage.photo.URL }}
          <img src="{{ . | relURL}}" class="img-responsive w-100">
          {{end}}
          <div class="post-content">
            <h1 class="post-title">Ragnhild Wesenberg</h1>
          </div>
        </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

{{ end }}